*{
	font-family:monospace;
}
.protoColumn {
	float: left;
	width: 200px;
}

#column1,#column3,#column5,#column7,#column9{
background-color: #cfcfcf;
}

#column2,#column4,#column6,#column8,#column10{
background-color: #adadad;
}